
<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a></p>
  <p><a href="https://node-webapp.herokuapp.com/about">About</a></p>
  <p><a href="https://node-webapp.herokuapp.com/projects">projects</a></p>
  <p><a href="../apple-app-site-association">link</a></p>
</header>
